<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            {% include '@NetgenLayouts/stylesheets.html.twig' %}
            {% include '@NetgenLayoutsStandard/stylesheets.html.twig' with {full: true} %}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            {% include '@NetgenLayouts/javascripts.html.twig' %}
            {% include '@NetgenLayoutsStandard/javascripts.html.twig' with {full: true} %}
        {% endblock %}
    </head>
    <body>
        {% block layout %}
            {% block body %}{% endblock %}
        {% endblock %}
    </body>
</html>
