<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% include '@NetgenLayouts/stylesheets.html.twig' %}
            {% include '@NetgenLayoutsStandard/stylesheets.html.twig' with {full: true} %}
        {% endblock %}
    </head>
    <body>
        {% block layout %}
            {% block body %}{% endblock %}
        {% endblock %}

        {% block javascripts %}
            {% include '@NetgenLayouts/javascripts.html.twig' %}
            {% include '@NetgenLayoutsStandard/javascripts.html.twig' with {full: true} %}
        {% endblock %}
    </body>
</html>
